<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Sedan+SC&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="{% static 'js/copyscript.js'%}"></script>
<script src="{% static 'js/body_animation.js'%}"></script>
</body>
</html>