{% extends 'generator/base.html' %}

{% load static %}

{% block content %}
    <h1 id="header"> Password <img src="{% static 'images/keyart.svg' %}" alt="Key Art">Generator</h1>

    <form id="myForm" action="{% url 'password' %}" method="GET">
       <p class="select-txt"> <select name="length">
            {% for i in lst %}
            {% if i == 12 %}
            <option value="{{ i }}" selected>{{ i }}</option>
            {% else %}
            <option value="{{ i }}">{{ i }}</option>
            {% endif %}
            {% endfor %}
        </select> Количество символов</p>
        <p class="checkbox">
            <input type="checkbox" name="uppercase"> Верхний регистр <br>
            <input type="checkbox" name="numbers"> Цифры <br>
            <input type="checkbox" name="special"> Спецсимволы <br>
        </p>
        <input type="submit" value="Сгенерировать пароль">
    </form>
{% endblock %}